.env
.env.*
!.env.example
vendor/
node_modules/
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests/
.git
.gitignore
.phpunit.result.cache
*.log
public/hot
public/build
Dockerfile
docker-entrypoint.sh
